.place__title{
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
color: inherit;
grid-area: title;
margin:0;
}
.place__title:first-child{
    padding-top: 92px;
}
@media ( max-width:768px  )  {
    .place__title:first-child{
        padding-top: 88px;
    }
    .place__title{
        font-size: 42px;
        line-height: 46px;
    }
}
@media ( max-width:320px  )  {
    .place__title:first-child{
        padding-top: 64px;
    }
    .place__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: auto;
    }
}
