.places{
    font-family:'Inter',Arial, sans-serif;
    max-width:calc( 1280px - ( 2 * 148px ) );
    margin:auto;
    color: #FFFFFF;
}
@media (max-width:1024px)  {
    .places{
        max-width: 90.625%;
    }
}
@media (max-width:320px)  {
    .places{
        max-width: 288px;
    }
}
