.place__link-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: link;
    padding-top: 32px;
}
@media ( max-width:768px  )  {
  .place__link-container{
      padding: 0;
  }
}
@media ( max-width:320px  )  {
    .place__link-container{
        width: 288px;
        padding-left: 16px;
      }
    }
}
