.lead{
    font-family: 'Inter',Arial, sans-serif;
    color: #FFFFFF;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    max-width: 984px;
    margin:auto;
}
@media ( max-width:1024px  )  {
    .lead{
        max-width:928px;
    }
}
@media ( max-width:768px  )  {
    .lead{
        max-width:100%;
    }
}
@media ( max-width:320px  )  {
    .lead{
        max-width:100%;
    }
}