.cover__subtitle{
font-weight: 400;
font-size: 18px;
line-height: 22px;
font-style: normal;
color: inherit;
max-width: 360px;
padding-top:32px;
margin: 0;
}

@media (max-width:610px) {
  .cover__subtitle{
    padding-top:16px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width:320px) {
    .cover__subtitle{
        max-width: 83%;
    }
}
