.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Inter',Arial, sans-serif;
    color: #FFFFFF;
    margin:28px 48px 0;
}
@media (max-width:1024px) {
    .header{
        margin:28px 46px 0;
        max-width: 928px;
    }
}
@media (max-width:768px) {
    .header{
        margin:28px 24px 0;
        max-width: 720px;
    }
}
@media (max-width:448px) {
    .header{
        margin-top: 14px 12px;
        max-width:90%;
    }
}
@media (max-width:320px) {
    .header{
        margin:16px 16px 0;
        max-width:288px;
    }
}
