.place__paragraph-container{
    display: flex;
    flex-direction: column;
    grid-area: paragraph-container;
  }
@media (max-width:320px){
    .place__paragraph-container{
        padding-left: 16px;
        padding-right: 16px;
    }
}
