.lead__title{
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color:inherit;
    font-size: 96px;
    line-height: 100px;
    margin:62px 0 0 0;
    max-width: 720px;
    max-height: 200px;
}
@media (max-width:768px ){
    .lead__title{
        font-size: 12.5vw;
        line-height: 13vw;
    }
}
@media (max-width:320px ){
    .lead__title{
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}
