.footer__copyright{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color:inherit;
    margin: 0;
    padding:0;
    justify-self: end;
}
@media (max-width : 320px) {
    .footer__copyright{
        margin: 48px 0 24px 16px ;
        font-size: 14px;
        line-height: 14px;
        border:  white dotted 2px;
        text-align: left;
    }
}