.footer__copyright{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color:inherit;
    justify-self: flex-start;
    margin: 0;
    padding-left: 18px;
    margin-top: 92px;
}
@media (max-width:658px) {
  .footer__copyright{
    margin:48px 0 24px;
    line-height: 14px;
    padding:0;
  }
}
