.header__link-container{
    margin:0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 18px;
}
@media (max-width:425px) {
    .header__link-container{
        margin-top: 14px;
        max-width: 142px;
    }
}
