.intro__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: inherit;
    max-width: 720px;
    margin: 40px 0 0 0;
}
@media ( max-width:768px)  {
    .intro__text{
        max-width: 97%;
    }
}
@media ( max-width:320px  )  {
    .intro__text{
        max-width: 288px;
    }
}
