.place__website-link{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity .25s ease-in-out;
}
.place__website-link:visited{
    color: #FFFFFF;
}
.place__website-link:hover{
    opacity: 0.8;
}
