.footer__navigation{
    display: flex;
    flex-direction: row;
    gap:18px;
}
@media (max-width:766px) {
    .footer__navigation{
        display: flex;
        flex-direction: column;
        gap:0;
    }
}
