.footer__navigation{
    display: grid;
    grid-template-columns: repeat(5,min-content);
    grid-template-rows: auto;
    gap:18px;
}
@media (max-width:766px) {
    .footer__navigation{
        display: flex;
        flex-direction: column;
        gap:0;
    }
}
