.footer{
    font-family: 'Inter',Arial, sans-serif;
    color: #FFFFFF;
    max-width: 1184px;
    width: calc( 100% - 96px );
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 24px;
}
@media (max-width:768px) {
  .footer{
    max-width: calc( 100% - 48px );
  }
}
@media (max-width:658px) {
  .footer{
    flex-direction: column;
    align-items: baseline;
  }
}
